snippet proj "project documentation layout"
${1:Project}
========

${2:descriptsion}

Tasks
-----

  - ${3:first task}

Resources
---------

Notes
-----

endsnippet

snippet min "meeting minutes layout"
${1:Meeting} - `date "+%Y.%m.%d"`
================================

${2:descriptsion}

Attendees
---------

  - ${3:first task}

Notes
-----

Assignments
-----------

endsnippet
