# set our default priority
priority -50

global !p
from snippet_helpers import create_table
endglobal

##################
#                #
#   Frameworks   #
#                #
##################

snippet m "meeting minutes" b
${1:Meeting Title}
${1/./-/g}

### Attendees

- ${0}

### Notes

### Assignments / Asks

endsnippet

snippet mi "meeting minutes hour timestamp" b
${1:Meeting Title} (`date "+%H:%M"`)
${1/./-/g}--------

### Attendees

- ${0}

### Notes

### Assignments / Asks

endsnippet

snippet min "meeting minutes full timestamp" b
${1:Meeting Title} (`date "+%Y.%m.%d %H:%M"`)
${1/./-/g}-------------------

${2}

### Attendees

- ${0}

### Notes


### Assignments / Asks


endsnippet

snippet wj "work journal scaffolding" b
`date "+%Y.%m.%d"`
==========

Morning Routine:
	- zero out:
		- [ ] scrap notes
		- [ ] email inbox
		- [ ] slack inbox
		- [ ] notion inbox
		- [ ] gitlab inbox
		- [ ] prev journal
		- [ ] mit
	- review:
		- [ ] calendar
		- [ ] sprint
		- [ ] group merge requests
	- prepare:
		- [ ] next business day
		- [ ] upcoming meetings

Schedule
========

- [devops standup](#devops standup)
${0}

Minutes
=======

devops standup
--------------

1. review board
2. review snacks
3. news
4. open floor

__news:__

 - 

Notes
=====

endsnippet

snippet pj "personal journal scaffolding" b
`date "+%Y.%m.%d"`
==========

- __weather__: ${1}
- __location__: ${2}

Food
----

    item                        calories  protein  fats  carbs  fiber  net carbs
    ----------------------------------------------------------------------------
    ${0}

Entry
-----

endsnippet

snippet proj "personal project scaffolding" b
__See also:__
 - ${1}

${2:Project Name}
${2/./=/g}

${3:Overview}

Objectives
----------

- [ ] ${0}

Todo
----

- [ ] prepare git repository and link here
- [ ] build repository readme with the following:
   - [ ] bill of materials
   - [ ] overview, no context description
   - [ ] expected baseline / prerequisites / dependencies
   - [ ] development environment setup
   - [ ] production environment setup
   - [ ] diagrams / photos / gifcasts

Resources
---------


Notes
-----


endsnippet

snippet note "personal notes scaffolding" b
__See also:__
 - ${1}

__Quick reference:__

${2:Note Title}
${2/./=/g}

${0}

Common Workflows
----------------

endsnippet

snippet epic "gitlab epic template" b
Overview
--------

${0}

Origin
------


Acceptance Criteria
-------------------

- [ ] 

Dependencies
------------


Resources
---------


tagging: @pbuell @crearick
endsnippet

###############################
#                             #
#   Sections and Paragraphs   #
#                             #
###############################

snippet s "# section" b
${1:Section Name}
${1/./=/g}$0
endsnippet

snippet ss "## sub section" b
${1:Section Name}
${1/./-/g}$0
endsnippet

snippet sss "### subsub section" b
### ${1:Section Name}$0
endsnippet

snippet ssss "#### paragraph" b
#### ${1:Paragraph Name}$0
endsnippet

snippet sssss "##### sub paragraph" b
##### ${1:Paragraph Name}$0
endsnippet

#######################
#                     #
#   Text formatting   #
#                     #
#######################

snippet _ "italics"
_$1_$0
endsnippet

snippet __ "bold"
__$1__$0
endsnippet

snippet * "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet ** "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet *** "bold italics"
***${1:${VISUAL}}***$0
endsnippet

####################
#                  #
#   Common stuff   #
#                  #
####################

snippet td "github style todo list item" b
- [ ] $0
endsnippet

snippet t "github style todo list item for prepop list"
[ ] $0
endsnippet

snippet a "link to something"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet

snippet as "link to section"
[${1:${VISUAL:Text}}](#$1)$0
endsnippet

snippet ap "link to page"
[${1:${VISUAL:Text}}]($1)$0
endsnippet

snippet img "image"
![${1:pic alt}](${2:path}${3/.+/ "/}${3:opt title}${3/.+/"/})$0
endsnippet

snippet ilc "inline code"
\`$1\`$0
endsnippet

snippet cbl "codeblock" b
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet refl "reference link"
[${1:${VISUAL:Text}}][${2:id}]$0

[$2]:${4:http://${3:www.url.com}} "${5:$4}"
endsnippet

snippet fnt "footnote"
[^${1:${VISUAL:Footnote}}]$0

[^$1]:${2:Text}
endsnippet

# usage: tbwxh ie tb2x3
pre_expand "create_table(snip)"
snippet "tb(\d+x\d+)" "customizable table" br
endsnippet

###############
#             #
#   Scripts   #
#             #
###############

snippet mm "mermaid script" b
<script src="https://unpkg.com/mermaid@8.4.0/dist/mermaid.min.js"></script>
endsnippet

# vim:ft=snippets:
