# Dotfiles Configuration File
#
# This configuration file is used to customize your set of dotfiles.
# Throughout each dotfile are snippets in the format of `{{ VarName }}` that
# get replaced with the values below when running `make dots` or another make
# method that calls the `scripts/connect-the-dots.sh` script.
#
# To get started, copy this file to `.config`, fill everything below out, then
# run the appropriate make for your system.

################################################################################
#                                                                              #
# paths to create                                                              #
#                                                                              #
# You can create up to 100 paths, simply increment the variable name.  Paths   #
# are created with the -p flag, so all subdirs will be created as needed. Add  #
# or remove PATHNN vars below as needed.                                       #
#                                                                              #
################################################################################

PATH00 = /Users/usrnm/.gopath                           # go path root
PATH01 = /Users/usrnm/Repos                             # repository folder
PATH02 = /Users/usrnm/Gists                             # github gists folder
PATH03 = /Users/usrnm/.mail/Home                        # mutt mail directory
PATH04 = /Users/usrnm/.mail/Work                        # mutt mail directory
PATH05 = /Users/usrnm/.mail/Client                      # mutt mail directory

################################################################################
#                                                                              #
# symlinks to create                                                           #
#                                                                              #
# You can create up to 100 symlinks, simply increment the variable name.       #
# Each symlink should be in the format:                                        #
#                                                                              #
#     SYMLINK[NN] = [source path] [destination path]                           #
#                                                                              #
# Destination parent folders must already exist, use path configs above as     #
# needed. Add or remove SYMLINKNN vars below as needed.                        #
#                                                                              #
################################################################################

SYMLINK00 = /Users/usrnm/Repos/mit/mit /Users/usrnm/.todo/addons/mit
SYMLINK01 = /Users/usrnm/Repos/bin /Users/usrnm/Bin
SYMLINK02 = /Users/usrnm/Bin /Users/usrnm/.gopath/bin
SYMLINK03 = /Users/usrnm/Repos /Users/usrnm/.gopath/src
SYMLINK04 = "Google\ Drive\ File\ Stream/My\ Drive" "Google\ Drive"
SYMLINK05 = /usr/local/bin/neomutt /usr/local/bin/mutt

################################################################################
#                                                                              #
# personal information                                                         #
#                                                                              #
################################################################################

Name       = Cody Buell                        # your full name
Email      = cody@codybuell.com                # preferred email
OSUsername = codybuell                         # your system username
OSHomeRoot = /home/                            # linux -> /home/, osx -> /Users/
IRCNick    = codybuell

################################################################################
#                                                                              #
# tpam configurations                                                          #
#                                                                              #
################################################################################

TPAMUrl      = tpam.tld    # do not include protocol (ie no http://)
TPAMUsername = codybuell
TPAMPassword = `command to get password`

################################################################################
#                                                                              #
# email                                                                        #
#                                                                              #
# This one is going to require a bit more config on your part...               #
#                                                                              #
# 1. Edit the following files:                                                 #
#                                                                              #
#    - dotfiles/mbsyncrc                                                       #
#                                                                              #
# 2. Create 'application password' records in OSX Keychain Access              #
#                                                                              #
#    - open keychain access                                                    #
#    - create new application password                                         #
#    - name / keychain item name = _EmailHost setting below                    #
#    - account / acount name = _EmailKeychain setting below                    #
#    - password = your email accounts password                                 #
#    - repeat for both home and work email addresses                           #
#                                                                              #
# 3. And then configure the following services:                                #
#                                                                              #
#    - passage (pull go repo and build, see projects readme)                   #
#                                                                              #
################################################################################

DefaultEmailAccount = client
DefaultEmailAccCaps = Client                    # hacky placeholder solution
DefaultEmailAddress = cody@exchange.com

# expected to be a gmail account ('home' account)
HomeEmailSmtp       = smtp.gmail.com
HomeEmailHost       = imap.gmail.com            # host and 'name' field in keychain
HomeEmailKeychain   = cody+mutt@codybuell.com   # 'account' field in keychain
HomeEmailUsername   = cody@codybuell.com
HomeEmailAddress    = cody@codybuell.com

# expected to be a gmail account ('work' account)
WorkEmailSmtp       = smtp.gmail.com
WorkEmailHost       = imap.gmail.com            # host and 'name' field in keychain
WorkEmailKeychain   = cody+mutt@workplace.com   # 'account' field in keychain
WorkEmailUsername   = cody@workplace.com
WorkEmailAddress    = cody@workplace.com

# expected to be an exchange account ('client' account)
ClientEmailSmtp     = smtp.exchange.com
ClientEmailHost     = imap.exchange.com         # host and 'name' field in keychain
ClientEmailKeychain = cody+mutt@exchange.com    # 'account' field in keychain
ClientEmailUsername = cody@exchange.com
ClientEmailAddress  = cody@exchange.com

################################################################################
#                                                                              #
# keyboard layout                                                              #
#                                                                              #
################################################################################

KBLayout = qwerty                                       # [ qwerty | colemak ]

################################################################################
#                                                                              #
# paths                                                                        #
#                                                                              #
# variable          cli   vim    description                                   #
# ---------------------------------------------------------------------------- #
# TasksFolder       t     -     loc for tasks created by Todo.txt-cli          #
# NotesFolder       note  ␣n    general markdown notes / notes vim wiki        #
# CodexFolder       -     -     personal markdown notes / codex vim wiki       #
# NonRepoProjects   ws    -     projects that are not git repos                #
# PersonalJournal   pj    ␣pj   root location of personal journal*             #
# WorkJournal       wj    ␣wj   root location of work journal*                 #
#                                                                              #
#   * journals have a subdir structure of YYYY/MM/YYYY.MM.DD.txt               #
#                                                                              #
################################################################################

TasksFolder     = "/Users/usrnm/Google Drive/Tasks"     # full path, no escapes
NotesFolder     = "~/Google\\ Drive/Notes"
CodexFolder     = "~/Google\\ Drive/Codex"
NonRepoProjects = "~/Google\\ Drive/Projects"
PersonalJournal = "/Users/usrnm/Google\\ Drive/Journal/personal"  # full path, escapes
WorkJournal     = "/Users/usrnm/Google\\ Drive/Journal/work"      # full path, escapes

################################################################################
#                                                                              #
# git configurations                                                           #
#                                                                              #
################################################################################

GitUsername = codybuell                                 # github username
ReposPath   = ~/Repos                                   # folder for git repos
GistsPath   = ~/Gists                                   # folder for git gists

################################################################################
#                                                                              #
# go-jira cli configuration                                                    #
#                                                                              #
# You will need to create a keychain item with your stored creds:              #
#   1. open keychain and select login keychain                                 #
#   2. add new application password entry                                      #
#        item name: go-jira                                                    #
#        account name: [what you set for JiraUsername]                         #
#        password: [your jira password]                                        #
#                                                                              #
################################################################################

JiraEndpoint   = https://jira.domain.tld
JiraUsername   = jirausername
JiraDefProject = PROJNAME

################################################################################
#                                                                              #
# api tokens                                                                   #
#                                                                              #
# GitHubGHIAPIToken -> used for ghi to manage issues from the cli              #
# GitHubHomebrewAPIToken -> used for brew                                      #
# GitHubVimGistToken -> used for vim's gist plugin                             #
# SlackAPIToken -> used for slackcat                                           #
#                                                                              #
################################################################################

GitHubGHIAPIToken = 1234567890abcdefghijklmnopqrstuvwxyz
GitHubHomebrewAPIToken = 1234567890abcdefghijklmnopqrstuvwxyz
GitHubVimGistToken = 1234567890abcdefghijklmnopqrstuvwxyz
SlackAPIToken = 1234-12345678901-12345678901-123456789012-12345678901234567890123456789012

################################################################################
#                                                                              #
# hashicorp vault                                                              #
#                                                                              #
################################################################################

#VaultCAPath = ???
VaultToken   = 1234567890abcdefghijklmnopqrstuvwxyz
VaultAddress = https://vaultserver.tld:8200
VaultServer  = vaultserver.tld

################################################################################
#                                                                              #
# ddclient                                                                     #
#                                                                              #
################################################################################

DDClientLogin    = 1234567890abcdef
DDClientPassword = ghijklmnopqrstuv
DDClientFQDN     = hostname.codybuell.com

################################################################################
#                                                                              #
# homestead configuration                                                      #
#                                                                              #
################################################################################

VMIP       = 192.168.10.10
VMCPUs     = 1
VMMemory   = 2048
Provider   = virtualbox
PublicKey  = ~/.ssh/id_rsa.pub
PrivateKey = ~/.ssh/id_rsa
MapFrom    = ~/Repos
MapTo      = /home/vagrant/Repos

################################################################################
#                                                                              #
# homestead application configurations                                         #
#                                                                              #
# Currently only four applications may be configured.  This is not a           #
# limitation of homestead / vagrant.  If you need additional vm's, you will    #
# need to update `~/.homestead/Homestead.yaml` manually and reprovision the    #
# machine with `homestead provision`.                                          #
#                                                                              #
################################################################################

# homestead server one (don't forget to update /etc/hosts)
AppName01     =  homestead.app
AppWebRoot01  =  /home/vagrant/Repos/Laravel/public
AppDatabase01 =  homestead

# homestead server two (don't forget to update /etc/hosts)
AppName02     =  homestead.app
AppWebRoot02  =  /home/vagrant/Repos/Laravel/public
AppDatabase02 =  homestead

# homestead server three (don't forget to update /etc/hosts)
AppName03     =  homestead.app
AppWebRoot03  =  /home/vagrant/Repos/Laravel/public
AppDatabase03 =  homestead

# homestead server four (don't forget to update /etc/hosts)
AppName04     =  homestead.app
AppWebRoot04  =  /home/vagrant/Repos/Laravel/public
AppDatabase04 =  homestead
