# personal information
Name        = Cody Buell
Email       = cody@codybuell.com
OSUsername  = codybuell

# keyboard layout (qwerty|colemak)
KBLayout = qwerty

# paths
NonRepoProjects = "~/Workshop"
TasksFolder     = "/Users/usrnm/Google Drive/Tasks"     # full path, no escapes
NotesFolder     = "~/Google\\ Drive/Notes"
CodexFolder     = "~/Google\\ Drive/Codex"
ProjectsFolder  = "~/Google\\ Drive/Projects"
PersonalJournal = "~/Google\\ Drive/Journal/personal"
WorkJournal     = "~/Google\\ Drive/Journal/work"

# git bits
GitUsername = codybuell
ReposPath   = ~/Repos
GistsPath   = ~/Gists

# api tokens
GitHubHomebrewAPIToken = 1234567890abcdefghijklmnopqrstuvwxyz

# hashicorp vault
#VaultCAPath  = ???
VaultToken   = 1234567890abcdefghijklmnopqrstuvwxyz
VaultAddress = https://vaultserver.tld:8200
VaultServer  = vaultserver.tld

# ddclient
DDClientLogin    = 1234567890abcdef
DDClientPassword = ghijklmnopqrstuv
DDClientFQDN     = hostname.codybuell.com

# homestead
VMIP       = 192.168.10.10
VMCPUs     = 1
VMMemory   = 2048
Provider   = virtualbox
PublicKey  = ~/.ssh/id_rsa.pub
PrivateKey = ~/.ssh/id_rsa
MapFrom    = ~/Repos
MapTo      = /home/vagrant/Repos

# homestead server one (don't forget to update /etc/hosts)
AppName01     =  homestead.app
AppWebRoot01  =  /home/vagrant/Repos/Laravel/public
AppDatabase01 =  homestead

# homestead server two (don't forget to update /etc/hosts)
AppName02     =  homestead.app
AppWebRoot02  =  /home/vagrant/Repos/Laravel/public
AppDatabase02 =  homestead

# homestead server three (don't forget to update /etc/hosts)
AppName03     =  homestead.app
AppWebRoot03  =  /home/vagrant/Repos/Laravel/public
AppDatabase03 =  homestead

# homestead server four (don't forget to update /etc/hosts)
AppName04     =  homestead.app
AppWebRoot04  =  /home/vagrant/Repos/Laravel/public
AppDatabase04 =  homestead

# paths to create
PATH00 = /Users/usrnm/.gopath

# extra symlinks, increment numbers as needed, fully pathed SRC DST
SYMLINK00 =  /Users/usrnm/Repos/mit/mit /Users/usrnm/.todo/addons/mit
SYMLINK01 =  /Users/usrnm/Repos/bin /Users/usrnm/Bin
SYMLINK02 =  /Users/usrnm/Bin /Users/usrnm/.gopath/bin
SYMLINK03 =  /Users/usrnm/Repos /Users/usrnm/.gopath/src
