#####################
# TERNARY OPERATORS #
#####################

############
# COMMENTS #
############

################
# FLOW CONTROL #
################

#############
# FUNCTIONS #
#############

#######################
# CLASSES OBJECTS ETC #
#######################

#############
# DEBUGGING #
#############
