snippet sc "Svelte Component Boilerplate"
	<script lang="ts">
	  //////////////////////////
	  //  Types & Interfaces  //
	  //////////////////////////

	  /////////////
	  //  Props  //
	  /////////////

	  /////////////////////
	  //  Stores & Vars  //
	  /////////////////////

	  /////////////////
	  //  Functions  //
	  /////////////////

	  ///////////////////////
	  //  Lifecycle Hooks  //
	  ///////////////////////
	  });

	</script>

	<div class="">
	</div>
